<!DOCTYPE html >
<link
  rel="stylesheet/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<section class="banner banner-landing">
  <div class="mid-sec">
    <div class="container">
      <img src="assets/images/Authentic.png" alt="" />
      <h2>Made with love</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard
      </p>
      <div class="btn">
        <a href="#"> View More </a>
      </div>
    </div>
  </div>
</section>


<section class="second">
<div class="row">
  <div class="col-sm-3">
    <div class="table item">
      <img src="../../assets/images/table.png" alt="" />
      <div class="inner-content float-end">

        <h6>Lorem ipsum</h6>
        <p>Lorem Ipsum is simply dummy</p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="kettle item">
      <img src="../../assets/images/kettle.png" alt="" />
      <div class="inner-content float-end">

        <h6>Lorem ipsum</h6>
        <p>Lorem Ipsum is simply dummy</p>

      </div>
    </div>

  </div>
  <div class="col-sm-3">

    <div class="third item">
      <img src="../../assets/images/Group61.png" alt="" />
      <div class="inner-content float-end">

        <h6>Lorem ipsum</h6>
        <p>Lorem Ipsum is simply dummy</p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">

    <div class="lamp item">
      <img src="../../assets/images/Group62.png" alt="" />
      <div class="inner-content float-end">

        <h6>Lorem ipsum</h6>
        <p>Lorem Ipsum is simply dummy</p>

      </div>
    </div>
  </div>


</div>





</section>

<section class="amazing-features">
  <div class="container">
    <div class="features">
      <h3>Amazing Features</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard
      </p>
      <div class="image">
        <div class="gear">
          <img src="assets/images/Group 6.png" alt="" />
          <h5>Fully Responsive</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="newsfeed">
          <div class="img2">
            <img src="assets/images/Group 66.png" alt="" />
          </div>
          <h5>Fully Responsive</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="like">
          <div class="img3">
            <img src="assets/images/Group 67.png" alt="" />
          </div>
          <h5>Fully Responsive</h5>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- ==================================== -->
<section class="mobile">
  <div class="container">
    <div class="txt-sec">
      <h3>Lorem ipsum is simply</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and type- setting
        industry. Lorem Ipsum has been the industry's stan- dard
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and type- setting
        industry. Lorem Ipsum has been the industry's stan- dard dummy text ever
        since
      </p>
      <div class="btn">
        <a href="#">Read More</a>
      </div>
    </div>

    <div class="image-sec">
      <img src="assets/images/sa 2.png" alt="" />
    </div>
  </div>
</section>

<section class="mob-2">
  <div class="container">
    <div class="image-sec">
      <img src="assets/images/Group 515.png" alt="" />
    </div>
    <div class="text-sec">
      <h3>Lorem ipsum is simply</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and type- setting
        industry. Lorem Ipsum has been the industry's stan- dard
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and type- setting
        industry. Lorem Ipsum has been the industry's stan- dard dummy text ever
        since
      </p>
      <div class="btn">
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</section>

<section class="email" >
  <h3>Lorem ipsum is simply</h3>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard
  </p>
  <div class="wrap">
    <input type="email" placeholder="Enter your Email" />
    <input type="submit" value="Subscribe" />
  </div>
</section>

<section class="services">
  <div class="container">
    <div class="img1">
      <img src="assets/images/x 2.png" alt="" />
    </div>
    <div class="img2">
      <img src="assets/images/fgfdfgfdg 1.png" alt="" />
    </div>
    <h1>Our Services</h1>

    <div class="cards">
      <div class="cards-in">
      </div>

        <div class="card">
          <img src="assets/images/24h 1.png" alt="" />
          <h6>Support 24/7</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/meeting 1.png" alt="" />
          <h6>User Friendly Relation</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/costcontrol 1.png" alt="" />
          <h6>Cost Control</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/express-delivery 1.png" alt="" />
          <h6>On Time Delivery</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/24h 1.png" alt="" />
          <h6>Support 24/7</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/meeting 1.png" alt="" />
          <h6>User Friendly Relation</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/costcontrol 1.png" alt="" />
          <h6>Cost Control</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/express-delivery 1.png" alt="" />
          <h6>On Time Delivery</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>

    </div>
  </div>
</section>

<section class="avialable">
  <div class="row">
    <div class="col-sm-6">
      <div class="sec1">
        <img src="assets/images/Rectangle 1000.png" alt="" />
      </div>
    </div>
    <div class="col-sm-6">

      <div class="text-sec">
        <div class="list">
          <div class="item active">
		  
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="news">
  <div class="container">
    <div class="text">
      <h3>NEWS</h3>
    </div>
    <div class="img">
      <img src="assets/images/Rectangle 12.png" alt="" />
      <h6>Is the app available in all countries?</h6>
      <div class="date">
        <div class="clock">
          <img src="assets/images/Frame 4.png" alt="" />
        </div>
        <p>June 27,2018</p>
      </div>
    </div>
    <div class="img">
      <img src="assets/images/Rectangle 09.png" alt="" />
      <h6>Is the app available in all countries?</h6>
      <div class="date">
        <div class="clock">
          <img src="assets/images/Frame 4.png" alt="" />
        </div>
        <p>June 27,2018</p>
      </div>
    </div>
  </div>
</section>

<section class="last">
  <div class="container">
    <div class="img-sec">
      <img src="assets/images/Group 64.png" alt="" />
    </div>
    <div class="text-sec">
      <h4>Lorem ipsum is simply Dummy Text</h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <div class="m-glass">
        <input type="email" placeholder="Im looking For" />
        <a href="#"><img src="assets/images/Vector5.png" alt="" /></a>
      </div>
    </div>
  </div>
</section>
