<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h3 class="gradient-mask">Start.ly</h3>
      </a>
      <button class="navbar-toggler" (click)="toggle()" id="navToggle" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" id="site-nav"  [ngClass]="{'hidden': !isVisible}">
        <ul class="navbar-nav text-sm-left ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a mat-button [matMenuTriggerFor]="menu" class="nav-link">
              Pages
              <mat-icon class="down-icon">keyboard_arrow_down</mat-icon>
            </a>
            <mat-menu #menu="matMenu" class="drop-down-items">
              <button mat-menu-item routerLink="/ABC">Landing Style Two</button>
              <button mat-menu-item routerLink="/ABC">Blog Page</button>
              <button mat-menu-item routerLink="/ABC">Blog Single</button>
            </mat-menu>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item text-center">
            <a href="#signup" class="btn align-middle btn-outline-primary my-2 my-lg-0">Login</a>
          </li>
          <li class="nav-item text-center">
            <a href="#signup" class="btn align-middle btn-primary my-2 my-lg-0">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
